body {
    background-color: #aaa;
    padding: 1%;
}

.slider {
    margin-left: 1%;
    width: 63.78%;
}

.big {
    background-color: #888a;
    padding: 1%;
    margin: 0%;
    border-radius: 10px;
}

.big>a {
    display: block;
    width: 89%;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px;
}

.outer {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

.outer>div {
    display: inline-block;
    width: 31.66%;
    background-color: #fffa;
    border-radius: 5px;
    padding: 0.5%;
    position: relative;
    vertical-align: top;
}

.outer>div>* {
    width: 95%;
}

.outer>div>div>* {
    width: 100%;
}

.average {
    background-color: #f00;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.scib {
    display: inline-block;
    background-color: #fffa;
    border-radius: 5px;
    padding: 0.5%;
    position: relative;
    vertical-align: top;
    margin-bottom: 300px;
}